.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    $clock_fontSize: 100px;

    $calendar_top: 20px;

    .time {
        $opacity: 1;
        $blockWidth: 190px;
        $blockHeight: 140px;
        $blockMargin: 10px;

        width: ($blockWidth * 3) + ($blockMargin * 6);
        height: $blockHeight;
        position: relative;

        .base {
            position: absolute;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            opacity: 1;
            font-weight: 900;
            top: 0;
            left: 0;
            height: calc(50% - 1px);
            width: ($blockWidth * 3) + ($blockMargin * 6);

            &.bottom {
                top: auto;
                bottom: 0;

                span {
                    top: - 100%;
                }
            }

            span {
                position: relative;
                display: inline-block;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(25,25,25,$opacity) 0%, rgba(35,35,35,$opacity) 25%, rgba(50,50,50,$opacity) 50%);
                border-radius: 20px;
                margin: 0 $blockMargin;
                color: #FFF;
                font-size: $clock_fontSize;
                line-height: $blockHeight;
                text-shadow: 10px 10px 10px rgba(0,0,0,0.3);
                width: $blockWidth;
                height: $blockHeight;
                text-align: center;
            }
        }
    }

    .calendar {
        text-align: center;
        color: #FFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        margin-top: 20px;
        line-height: 20px;
        font-size: 25px;
    }
}

@keyframes flipDownTop {
    0% {
        transform: rotateX(1deg);
    }
    25% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}

@keyframes flipDownBottom {
    0% {
        transform: rotateX(90deg);
    }
    25% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}