.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 630px;
    transform: translate(-50%, -50%);

    $clock_fontSize: 120px;
    $clock_padding: 20px;

    $calendar_top: 20px;

    .time {
        $opacity: 0.9;

        h1, h2 {
            display: block;
            overflow: hidden;
            height: 50%;
            margin: 0;
            padding: 0;
            opacity: 1;
            font-weight: 900;

            span {
                display: inline-block;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(25,25,25,$opacity) 0%, rgba(35,35,35,$opacity) 25%, rgba(50,50,50,$opacity) 50%);
                border-radius: $clock_padding;
                padding: $clock_padding;
                margin: 10px;
                color: #FFF;
                font-size: $clock_fontSize;
                line-height: $clock_fontSize;
                text-shadow: 10px 10px 10px rgba(0,0,0,0.3);
                box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
                width: 150px;
                text-align: center;
            }
        }

        h1 {
            visibility: hidden;
        }

        h2 {
            position: absolute;
            top: 0;


            height: calc(50% - #{$calendar_top + 1px});

            &:last-child {
                top: calc(50% - #{$calendar_top - 1px});

                span {
                    transform: translateY(calc(-50% - 11px));
                    background: linear-gradient(180deg, rgba(25,25,25,$opacity) 50%, rgba(35,35,35,$opacity) 75%, rgba(50,50,50,$opacity) 100%);
                }
            }
        }
    }

    .calendar {
        text-align: center;
        color: #FFF;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        margin-top: 20px;
        line-height: 20px;
        font-size: 25px;
    }
}