.clipboard {
    h3 {
        display: block;
        padding: 0.3rem 1rem;
        font-size: 0.8rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0;
        font-weight: 300;
    }
    .clip {
        background: #FFFFFF;
        display: block;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        transition: 0.15s all ease;
        &:after {
            content: '>';
            position: absolute;
            right: 1rem;
        }
        &:hover {
            cursor: pointer;
            text-decoration: underline;
            padding-left: 1.2rem;
        }
    }
}